*{
    margin: 0px;
    padding: 0px;
}
.img-thumbnail{
    margin: 10px;
}
.navbar{
    margin-left: 20px;
    margin-right: 20px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.namepad{
    display: flex;
    flex-wrap: wrap;
    margin: 10%;
    justify-content: center;
    text-align: center;
}
.name{
    color: rgb(15, 202, 15);
}
.namediv{
    margin: 10px;
}
.skillset{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.icons img{
    height: 50px;
    width: 50px;
    margin: 5px;
}
.icons img:hover{
    height: 55px;
    width: 55px;
    transition: ease 0.2s;
}
.skillSpan{
    color: rgb(0, 0, 255);
    font-size: large;
    font-weight: bold;
}